.add_review_container{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 15;
  font-size: 0.5rem;

  border: 2px solid black;
  background-color: aliceblue;
  border-radius: 15px;
  padding: 10px;
  opacity: 100%;
}

#upload-area{
  max-height: 250px;
  min-height: 100px;
  background-color: #F3AEAE;
  border-radius: 15px;
}

#gallery{
  flex-wrap: wrap;
  overflow-y: auto;
}

#gallery img{
  width: 25%;
  height: 100px;
  margin: 5px;
}

#fileElem{
  display: none;
}

.add_img{
  font-size: 0.3rem;
  margin: 5px;
}

textarea{
  resize: none;
  padding: 3px;
}

.input_review{
  height: 150px;
  outline: none;
  margin-top: 0%;
}

.input_tag{
  height: 70px;
  outline: none;
}

.content-label{
  font-size: 0.3rem;
  margin-top: 10px;
}

@media only screen and (max-width:800px) {
  .add_review_container{
    width: 95%;
  }
}