

.header{
    justify-content:space-between;
    position: fixed;
    padding: 5px;
    background-color: var(--sec_col_light);
    /* opacity: 95%; */
    z-index: 10;
}


.title{
    font-size: 0.8rem;
    margin-left: 5px;
}

.search_bar{
    width: 40%;
    height: 25px;
    /* border: 1px solid rgb(204, 44, 44); */
    border-radius: 10px;
    padding: 10px 10px 10px 15px;

    margin: auto;

    box-shadow: 2px 5px 31px -3px rgba(202, 31, 59, 0.46);
    background-color: var(--white);
}

.search_bar img{
    border-radius: 50%;
    padding: 10px;
    background-color:var(--pri_col_light);
}
.search_bar img:hover{
    background-color:#564bbd;
}

.search{
    border: none;
    outline: none;
    font-size: 0.4rem;
}

.search:focus::placeholder{
    color: transparent;
}

.search::placeholder{
    opacity: 0.5;
    font-size: 0.4rem;
}

.profile img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 25px;
}

.profile_navbar {
    top: 105%;
    left: -25%; 
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: var(--pri_col_light);
    font-size: 0.3rem;
    border-radius: 10px;
    overflow:hidden;
}

li a {
    display: block;
    color: var(--white);
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: var(--sec_col_light);
}
.spacer{
    height: 60px;
}

.profile_container{
    min-width: 50px !important;
}