.add_review_container{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 15;
  border: 2px solid black;
  font-size: 0.5rem;
  background-color: white;
  border-radius: 15px;
  max-height: 90vh;
}

.upload_form{
  padding: 10px;
}

#fileElem{
  display: none;
}

#upload-area{
  background-color: #F3AEAE;
  width: 100%;
  height: fit-content;
  max-height: 300px;
  border-radius: 15px;
}

#upload-area>*{
  margin:5px;
}

#gallery{
  width: 100%;
  flex-wrap: wrap;
  overflow-y: scroll;
}

#gallery img{
  width: 200px;
  height: 200px;
  padding: 5px;
}
.content_upload textarea{
  height: 150px;
}
.tag_upload textarea{
  height: 100px;
}

.content_upload>*,.tag_upload >*{
  width: 100%;
}

textarea{
  padding: 5px;
  resize: none;
}

.upload_form button{
  font-size: 0.5rem;
}