
.place_img_container{
    z-index: 3;
}

.cover_img{
    width: 95%;
    height: 80vh;
    margin: 5px;
    object-fit: cover;
    border-radius: 15px;
}

.place_img_name{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    height: fit-content;
}

.place_img_name a{
    background-color: var(--pri_col_light_2);
    color:var(--white);
    border-radius: 15px;
    padding: 15px;
    max-width: 100%;
    text-align: center;
    font-size: 0.7rem;
}

.place_sub{
    color:var(--white);
    font-size: 0.4rem;

    border-radius: 15px;
    background-color: var(--pri_col_light_2);
    padding: 5px;
    margin-top: 30px;
    text-align: center;
    font-weight: normal;
}

.info{
    top: 13%;
    left: 5%;
    padding: 5px;
    border-radius: 50px;
    background-color: var(--sec_col);
}

.info_desc{
    top: 17%;
    left: 7%;
    font-size: 0.3rem;
    font-weight: bold;
    border:2px solid black;
    border-radius: 12px;
    background-color: var(--white);
    max-width: 50%;
    padding: 10px;
    display: none;
    z-index: 5;
}

.info:hover{
    background-color: var(--pri_col_light_2);
}


.info:hover + .info_desc{
    display: block;
}
.info:focus + .info_desc{
    display: block;
}
.info:focus{
    background-color: var(--pri_col_light_2);
}

.place_like_review{
    right: 10%;
    bottom: 12%;
    font-size: 0.45rem;
    color: var(--white);
}

.place_like_review > *{
    border: 2px solid black;
    border-radius: 15px;
    background-color: var(--pri_col_light_2);
    padding: 5px 10px;
    width: fit-content;
    height: fit-content;
    margin: 0 10px;
}

.place_likes >*{
    margin: 0 3px;
}

.place_likes img{
    width: 25px;
    height: 25px;
}

.rev_choi{
    margin: 5px;
    width: 100%;
    font-size: 0.4rem;
    transform: translate(-5%,-5%);
    z-index: 1;
}

.rev_choi h3{
    margin: 0 15px;
    padding: 10px;
    border-radius: 15px;
}
.rev:hover,.spot:hover{
    background-color: var(--light_pink) !important;
}

.rev_choi .rev{
    background-color: var(--light_pink);
    text-decoration: underline;
}

.button{
    font-size: 0.4rem;
}

.add_rev{
    margin: 5px 0 0 35px;
    z-index: 2;
}

.filter{
    font-size: 0.4rem;
    font-weight: normal;
    color: var(--white);
    border: none;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    background-color: var(--light_pink);
    width: fit-content;
    height: 30px;
    text-align: center;
}

.filter_container{
    margin:auto;
    width: 60%;
}

.filter:hover{
    background-color: var(--pri_col_light_2);
}

@media only screen and (max-width:800px) {
    .choices{
        flex-direction: column;
    }
    .add_rev{
        margin-bottom: 10px;
    }
    .filter_container{
        width: 90%;
    }
}