

.post{
    height: fit-content;
    width: 50%;
    margin: auto;
    display:flex;
    flex-direction: column;
    font-family: 'Montserrat';
    border: 2px solid rgba(0, 0, 0, 0.452);
    border-radius: 5px;
    padding: 15px;
    margin-top: 10px;
    box-sizing: border-box;
}
/* header */
.post_header{
    display: grid;
    grid-template-areas: 
                        'dp username'
                        'dp tags';
    justify-content: start;
    margin-bottom: 10px;
}

.dp{
    grid-area: dp;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    margin-right: 10px;
}

.username{
    font-size: 0.3rem;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
}
.tags{
    grid-area: tags;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 0.25rem;
    align-items: flex-end;
}

.tag{
    color: var(--pri_col);
    padding-right: 10px;
}

/* middle */
.post_middle{
    display: flex;
    flex-direction: column;
}

.pics{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
}
.images{
    width: 100%;
    /* object-fit:contain; */
}

.post_pic{
   width:100%;
   height: 500px;
}

.nav_b{
    width: 100%;
    /* padding: 0 25px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: absolute;
    top: 50%;
}

.nav{
    background-color: aliceblue;
    border-radius: 50%;
    margin: 25px;
    cursor: pointer;
}

.nav:hover{
    background-color: var(--pri_col);
}

.bubbles{
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.circle{
    border: 2px solid black;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin: 5px;
}
.likes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 10px;
    font-size: 0.3rem;
    margin: auto;
}

.like_img{
    height: 45px;
    width: 45px;
    cursor: pointer;
    padding-right: 5px;
    padding-left: 40px;
}

/* bottom */
.post_footer{
    padding: 10px 10px 10px 0;
}

.review{
    font-size: 0.4rem;
    font-weight:500;
    height: fit-content;
    max-height: 200px;
    overflow-y:scroll;
}

@media only screen and (max-width:800px) {
    .post{
        width: 100%;
    }
}

