*{
    margin: 0%;
    padding: 0%;
}
:root{
    --backg_col:#EBCBCB;
}

html{
    height: 100vh;
    width: 100%;
    font-family: 'Montserrat';
    font-size: 50px;
    box-sizing: border-box;
}

body{
    position: relative;
}

.title{
    /* padding-top: 3%; */
    box-sizing: border-box;
    font-size: 1.5rem;
}

.full_form{
    font-size: 0.55rem;
}

.left{
    min-height: 100vh;
    height: fit-content;
    width: 50%;
    background-color: var(--backg_col);
}

.left_top{
    padding-left: 50px;
    padding-top: 50px;
}

.register_img{
    width: 80%;
    height: 60%;
    padding-top: 50px;
}

.right{
    width: 50%;
    /* padding: 10px; */
}

.in_right{
    display: none;
    /* align-self:flex-start; */
    padding-left: 0%;
}

.photo_upload{
    width: 120px;
    height: 120px;
    border-radius: 20%;
    margin:25px auto;
    cursor: pointer;
    position: relative;
}

.photo_upload:hover{
    background-color: #7e7979;
}

#upload_pic{
    width: 100%;
    height: 100%;
    border-radius: 20%;
}
.circular{
    position: absolute;
    bottom: -5%;
}

.file_input,.file_url{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    visibility: hidden;
}

.login_redirect{
    font-size: 0.3rem;

}

.login_link{
    color: var(--pri_col);
    margin: 0 5px;
    font-weight: bold;
}

#signup{
    padding: 10px 25px;
    margin: 10px;
    font-size: 0.3rem;
}

.transparent-back{
    opacity: 20%;
    transition: opacity 0.5s;
}

@media only screen and (max-width:675px){
    .left{
        display: none;
    }
    .right{
        width: 100%;
        /* height: 100vh; */
        background-color: var(--backg_col);
    }
    .in_right{
        display: block;
    }
}