.all_sub_places{
    margin: 15px;
}

.sub_place{
    border: 5px solid var(--sec_col_light);
    border-radius: 10px;
    width: 80%;
    height: fit-content;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'title  title'
    'desc  image'
    'desc  image'
    'type image';
    grid-gap: 15px;
    padding: 5px; 
    margin-bottom: 10px;  
}

.sub_place_name{
    grid-area: title;
    font-size: 0.5rem;
    padding: 5px;
    text-align: center;
}

.sub_place_img{
    grid-area: image;
    width: 100%;
    height: auto;
    margin: auto;
}

.description{
    grid-area: desc;
    font-size: 0.4rem;
    font-weight: normal;
}

.type{
    grid-area: type;
    font-size: 0.3rem;
    /* font-weight: bold; */
    align-items: flex-end;
    justify-content: end;
}

.type h3{
    padding: 5px;
    border-radius: 5px;
    background-color: var(--sec_col_light);
    color: var(--white);
}

@media only screen and (max-width:800px) {
    .sub_place{
        grid-template-rows:repeat(4,fit-content);
        grid-template-columns: 1fr;
        grid-template-areas: 
        'title'
        'image'
        'desc'
        'type';
    } 
}
