{%load static%}
<div class="add_review_container flex column center" style="display: none;">
    <form action="add_review" method="POST" enctype="multipart/form-data" class="flex column center upload_form" autocomplete="off">
      {% csrf_token %}
      <div id="upload-area" class="flex column center">
        <div id="gallery" class="flex row center"></div>
        <input type="file" name="images" id="fileElem" multiple accept="image/*" onchange="handleFiles(this.files)">
        <label class="button add_img" for="fileElem">Add images</label>
      </div>
      
      <textarea name="content" cols="50" rows="10" class="input_field input_review" placeholder="Share your Experience" required></textarea>
      <textarea oninput="show_tag(this)" id="rev_tag" name="tags" cols="50" rows="10" class="input_field input_tag" placeholder="Tags..." onkeydown="return (event.keyCode!=13);">#</textarea>
      <button class="button center" type="submit">Submit</button>
    </form>
</div>

<script> 
  function handleFiles(files) {
    files = [...files]
    files.forEach(previewFile)
  }

  function previewFile(file) {
    let reader = new FileReader()
    reader.readAsDataURL(file)
    reader.onloadend = function() {
      let img = document.createElement('img')
      img.src = reader.result
      document.getElementById('gallery').appendChild(img)
    }
  }
//handling tags

  {% comment %} tag = document.querySelector("#rev_tag");
  tag.addEventListener('keydown', function(event) {
    const key = event.key; // const {key} = event; ES6+
    if (key === "Backspace") {
      console.log("backspace");
      console.log("length: "+tag.length);
      tag.value = tag.value.substring(0,tag.length-2).trim();
    }
    if(tag.length==0){
      tag.value = "#";
      return;
    }
  }); {% endcomment %}
  var pre_len = 1;

  function show_tag(e){
    
    var value = e.value;
    var len = value.length;
    console.log("length:"+len+" g_len: "+pre_len);
    if(len==0){
      e.value = "#";
      return;
    }
    
    //check backspace
    if(len<pre_len){
      e.value = e.value.trim();
      pre_len = e.value.length;
      return;
    }

   

    if(e.value[len-1]==" "){
      //check space after #
      if(e.value[len-2]=="#"){
        e.value = e.value.substring(0,len-1);
      }else{
        e.value += "#";
      }
    }
    pre_len = e.value.length;
  }
</script>