{%load static%}
<div class="add_review_container flex column center" style="display: none;">
    <form action="add_review" method="POST" enctype="multipart/form-data" class="flex column center upload_form" autocomplete="off">
      {% csrf_token %}
      <div id="upload-area" class="flex column center width-100">
        <div id="gallery" class="flex row center"></div>
        <input type="file" name="images" id="fileElem" multiple accept="image/*" onchange="handleFiles(this.files)">
        <label class="button add_img" for="fileElem">Add images</label>
      </div>

      <label for="content" class="content-label width-100">0/1500</label>
      <textarea id="content" name="content" cols="50" rows="10" oninput="input_review_check()" class="input_field input_review width-100 border-box" placeholder="Share your Experience" required></textarea>
      
      <textarea oninput="show_tag(this)" id="rev_tag" name="tags" cols="50" rows="10" class="input_field input_tag width-100 border-box" placeholder="Tags..." onkeydown="return (event.keyCode!=13);">#</textarea>
      <button class="button center" type="submit">Submit</button>
    </form>
</div>

<script> 
  function handleFiles(files) {
    files = [...files]
    files.forEach(previewFile)
  }

  function previewFile(file) {
    let reader = new FileReader()
    reader.readAsDataURL(file)
    reader.onloadend = function() {
      let img = document.createElement('img')
      img.src = reader.result
      document.getElementById('gallery').appendChild(img)
    }
  }

  var pre_len = 1;

  function show_tag(e){
    
    var value = e.value;
    var len = value.length;
    console.log("length:"+len+" g_len: "+pre_len);
    if(len==0){
      e.value = "#";
      return;
    }
    
    //check backspace
    if(len<pre_len){
      e.value = e.value.trim();
      pre_len = e.value.length;
      return;
    }

   

    if(e.value[len-1]==" "){
      //check space after #
      if(e.value[len-2]=="#"){
        e.value = e.value.substring(0,len-1);
      }else{
        e.value += "#";
      }
    }
    pre_len = e.value.length;
  }
</script>

<script>

  function input_review_check(){
    var rev = document.querySelector(".input_review");
    var label = document.querySelector(".content-label");
    label.style.color = "black";

    var rev_len = rev.value.length;
    label.innerHTML = rev_len+"/1500";

    if(rev_len>1500){
      rev.value = rev.value.substring(0,1500);
      label.innerHTML = rev.value.length+"/1500";
    }
    if(rev_len>=1500)
      label.style.color = "red";
  }

</script>