{% load static %}
<div class="header flex row height-fit width-100" onclick="profile_hide()">
    <div class="logo flex center">
        <h1 class="title pointer" onclick="window.location='{% url 'home' %}';">RYT</h1>
    </div>
    <div class="search_bar flex center">
        <input oninput="get_results()" type="search" class="search width-100" id="search" placeholder="search..." autocomplete="off">
        <img src="{%static 'img/search.svg' %}" alt="s" class="pointer">
    </div>
    <div class="profile"  >
    {% if request.session.user_id%}
        <div class="flex center relative" onclick="profile_click();event.stopPropagation();">
            <img src="{{request.session.dp}}" alt="dp" class="pointer">
            <ul class="profile_navbar pointer absolute width-fit" style="display:none;">   
                <li><a href="{%url 'profile' user_id=user_id%}">Profile</a></li>
                <li><a onclick="window.location='{% url 'logout' %}';">Logout</a></li>
            </ul>
        </div>
    {%else%}
        <a href="{%url 'login' %}" class="flex center">
            <button class="button">Log in</button>
        </a>
    {% endif %}
    </div>
</div>
<div class="spacer width-100"></div>

<style>
    .search_res{
        position:absolute;
        top:10%;
        width:100%;
        height:fit-content;
        background-color:white;
        z-index:10;
        border: 2px solid black;
        background-color:rose;
    }
</style>

<div class="search_res" style="display:none">
    <div class="tab flex row center">
        <button onclick="show(1)" class="search_spots_button">Spots</button>
        <button onclick="show(0)" class="search_users_button">Users</button>
    </div>
    <div class="search_spots flex row center">
    </div>
    <div class="search_users flex row center" style="display:none">
    </div>
</div>

<script src="{% static 'js/search.js' %}"></script>
<script>
    var nav = document.querySelector(".profile_navbar");
    function profile_click(){
        if(nav.style.display == "none"){
            nav.style.display = "block";
        }
        else{
            profile_hide();
        }
    }

    function profile_hide(){
        console.log("Hiding...");
        nav.style.display = "none";
    }
</script>
