{% load static %}
<div class="header flex row">
    <div class="logo flex center">
        <h1 class="title pointer" onclick="window.location='{% url 'home' %}';">RYT</h1>
    </div>
    <div class="search_bar flex center">
        <input type="text" class="search" placeholder="search...">
        <img src="{%static 'img/search.svg' %}" alt="s">
    </div>
    <div class="profile ">
    {% if True%}
        <a href="{%url 'profile' user_id=user_id%}" class="flex center">
            <img src="{{request.session.dp}}" alt="dp">
        </a>
    {%else%}
        <a href="{%url 'login' %}" class="flex center">
            <button class="button">Log in</button>
        </a>
    {% endif %}
    </div>
</div>
<div class="spacer"></div>
