
{% load static %}
<div class="header flex row height-fit width-100" onclick="profile_hide()">
    <div class="logo flex center">
        <h1 class="title pointer" onclick="window.location='{% url 'home' %}';">RYT</h1>
    </div>
    <div class="search_bar flex center">
        <input oninput="get_results()" type="search" class="search width-100" id="search" placeholder="search..." autocomplete="off">
        <img src="{%static 'img/search.svg' %}" alt="s" class="pointer">
    </div>
    <div class="profile"  >
    {% if request.session.user_id%}
        <div class="flex center relative" onclick="profile_click();event.stopPropagation();">
            <img src="{{request.session.dp}}" alt="dp" class="pointer">
            <ul class="profile_navbar pointer absolute width-fit" style="display:none;">   
                <li><a href="{%url 'profile' user_id=user_id%}">Profile</a></li>
                <li><a onclick="window.location='{% url 'logout' %}';">Logout</a></li>
            </ul>
        </div>
    {%else%}
        <a href="{%url 'login' %}" class="flex center">
            <button class="button">Log in</button>
        </a>
    {% endif %}
    </div>
</div>
<div class="spacer width-100"></div>

<link rel="stylesheet" href="{% static 'css/search.css' %}">

<div class="search_res flex wrap row center border-box width-100 absolute" style="display:none">
    <div class="tab flex row center">
        <h4 onclick="show(1)" class="search_spots_button pointer">Spots</h4>
        <h4  onclick="show(0)" class="search_users_button pointer">Users</h4>
    </div>
    <div class="search_spots flex wrap row center">
    </div>
    <div class="search_users flex wrap row center" style="display:none">
    </div>
</div>

<script src="{% static 'js/search.js' %}"></script>
<script>
    var nav = document.querySelector(".profile_navbar");
    function profile_click(){
        if(nav.style.display == "none"){
            nav.style.display = "block";
        }
        else{
            profile_hide();
        }
    }

    function profile_hide(){
        console.log("Hiding...");
        nav.style.display = "none";
    }
</script>
