
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/place.css' %}">
    <link rel="stylesheet" href="{% static 'css/post.css' %}">
    <link rel="stylesheet" href="{% static 'css/sub_place.css' %}">
    <link rel="stylesheet" href="{% static 'css/add_review.css' %}">

    <title>Document</title>
</head>
    {% include 'header.html' %}
<body>
    {% include 'add_review.html' %}

    <div class="place_container" onclick="hide_add_review();profile_hide();">
        <div class="cover flex center">
            <img src="{{place.image}}" class="cover_img">
            <h3 class="place_name">
                <a href="//{{place.link}}" target="_blank">{{place.place}}</a>
            </h3>
            <h2 class="place_sub">{{place.subject}}</h2>
            <div class="info_container flex row">
                <img class="info pointer" src="{% static 'img/info.svg' %}" alt="des" tabindex="0">
                <p class="info_desc">{{place.description}}</p>

            </div>
            <div class="place_like_review">
                <h4 class="reviews flex ">{{place.reviews}}&nbspReviews</h4>
                <div class="place_likes flex row">
                    <img src="{% static 'img/heart_fill_white.png' %}">
                    <h4 class="main_like">{{place.likes}}</h4>
                </div>
            </div>
        </div>

        <div class="flex row" style="width:100%;">
            <button class="button add_rev" onclick="add_review();event.stopPropagation();">Add&nbspReview</button>
            <div class=" rev_choi flex row center">
                <h3 class="pointer rev" onclick="rev_spot(this,1)">Reviews</h3>
                <h2> | </h2>
                <h3 class="pointer spot" onclick="rev_spot(this,2)">Spots</h3>
            </div>
        </div>
        
        <div class="all_post flex column center">
            {% for review in reviews%}
                {% with post_no=forloop.counter %}
                    {% include 'review.html' %}
                {% endwith %}
            {%empty%}
                <h4>No reviews Yet!!!<h4>
            {% endfor %}
        </div>

        <div class="sub_place_container flex column center" style="display:none;">
            <div class="flex  row filter_container">
                <button class="filter pointer" onclick="filter(this)" style="background-color:#EC6969">All</button>
            </div>
            <div class="all_sub_places flex column center">
                {% for sub_place in place.sub_places%}
                    <div class="sub_place pointer" onclick="window.location='{% url 'places' p_id=sub_place.p_id %}';" id="{{sub_place.place_type}}">
                        <h3 class="sub_place_name flex center">{{sub_place.place}}</h3>
                        <img class="sub_place_img" src="{{sub_place.image}}">
                        <h4 class="description flex center">
                           {{sub_place.description}}
                        </h4>
                        <div class="type flex">
                            <h3 class="flex">#{{sub_place.place_type}}</h3>
                        </div>
                    </div>
                {%empty%}
                    <h4>No sub places</h4>
                {% endfor %}
            </div>
        </div>
    </div>
    
    
    <script src="{% static 'js/like.js' %}"></script>
    <script src="{% static 'js/pics.js' %}"></script>
    <script src="{% static 'js/place.js' %}"></script>
    <script>
        const filters = ["Country","State","District","City","Town","Islands","Beach","Beach resorts","Secluded beaches","Mountain","Forest","Dessert","Countryside","Winter sport","Culture and Heritage","Religious","Museum",]
        var filter_container = document.querySelector(".filter_container")
        for(i=0;i<filters.length;i++){
            var button = document.createElement('button');
            button.setAttribute("class","filter pointer");
            button.setAttribute("onclick","filter(this)");
            
            button.innerHTML = filters[i].replace(" ","&nbsp");
            filter_container.appendChild(button)
        }
    </script>
    <script>
        var rev = document.querySelector(".add_review_container");
        var place = document.querySelector(".place_container");

        function add_review(){
            console.log("add_review");
            if( rev.style.display == "none"){
                rev.style.display = "flex";
                place.style.opacity="50%";
            }
            else{
               hide_add_review();
            }
        }

        function hide_add_review(){
            rev.style.display = "none";
            console.log("Hiding...");
            place.style.opacity="100%";
        }
    </script>
</body>
</html>