
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/place.css' %}">
    <link rel="stylesheet" href="{% static 'css/post.css' %}">
    <link rel="stylesheet" href="{% static 'css/sub_place.css' %}">
    <link rel="stylesheet" href="{% static 'css/add_review.css' %}">

    <title>Document</title>
</head>
<body>
    {% include 'header.html' %}
    {% include 'add_review.html' %}

    <div class="place_container">
        <div class="cover flex center">
            <img src="{{place.image}}" class="cover_img">
            <h3 class="place_name">
                <a href="//{{place.link}}" target="_blank">{{place.place}}</a>
            </h3>
            <h2 class="place_sub">{{place.subject}}</h2>
            <div class="info_container flex row">
                <img class="info pointer" src="{% static 'img/info.svg' %}" alt="des" tabindex="0">
                <p class="info_desc">{{place.description}}</p>

            </div>
            <div class="place_like_review">
                <h4 class="reviews flex ">{{place.reviews}}&nbspReviews</h4>
                <div class="place_likes flex row">
                    <img src="{% static 'img/heart_line.png' %}">
                    <h4>{{place.likes}}</h4>
                </div>
            </div>
        </div>

        <div class="flex row" style="width:100%;">
            <button class="button add_rev" onclick="add_review()">Add&nbspReview</button>
            <div class=" rev_choi flex row center">
                <h3 class="pointer rev" onclick="rev_spot(this,1)">Reviews</h3>
                <h2> | </h2>
                <h3 class="pointer spot" onclick="rev_spot(this,2)">Spots</h3>
            </div>
        </div>
        
        <div class="all_post flex column center">
            {% for review in reviews%}
                {% with post_no=forloop.counter %}
                    {% include 'review.html' %}
                {% endwith %}
            {%empty%}
                <h4>No reviews Yet!!!<h4>
            {% endfor %}
        </div>

        <div class="sub_place_container flex column center" style="display:none;">
            <div class="flex  row filter_container">
                <button class="filter pointer" onclick="filter(this)">All</button>
                <button class="filter pointer" onclick="filter(this)">Places</button>
                <button class="filter pointer" onclick="filter(this)">Hilly</button>
                <button class="filter pointer" onclick="filter(this)">Religious</button>
                <button class="filter pointer" onclick="filter(this)">Resort</button>
                <button class="filter pointer" onclick="filter(this)">Beach</button>
            </div>
            <div class="all_sub_places flex column center">
                {% for sub_place in place.sub_places%}
                    <div class="sub_place pointer" onclick="window.location='{% url 'place' p_id=sub_place.p_id %}';" id="{{sub_place.place_type}}">
                        <h3 class="sub_place_name flex center">{{sub_place.place}}</h3>
                        <img class="sub_place_img" src="{{sub_place.image}}">
                        <h4 class="description flex center">
                           {{sub_place.description}}
                        </h4>
                        <div class="type flex">
                            <h3 class="flex">#{{sub_place.place_type}}</h3>
                        </div>
                    </div>
                {%empty%}
                    <h4>No sub places</h4>
                {% endfor %}
            </div>
        </div>
    </div>
    
    {% comment %} <h3>place Name: {{place.place_name}}</h3>
    <h2>place subject:{{place.subject}}</h2>
    
    <h2>place Link:{{place.link}}</h2>
    <h1>place id:{{place.p_id}}</h1>
    <a onclick="open_review()" class="add_review">Add Review</a>
    <div class="review_page">
        <form action="add_review" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" name="p_id" value={{place.p_id}} style="visibility:hidden;">
            Tags: <input type="text" name="tags">
            content: <input type="text" name="content">
            pics: <input type="file" name="images" multiple>
            <button type="submit">Submit</button>
        </form>
    </div> {% endcomment %}

    {% comment %} <h1>Reviews</h1>
    {% for review in reviews%}
        <h2>Reviewer Name:{{review.username}}</h2>
        <img src="{{review.user_dp}}" alt="no_dp">
        {%for tag in review.tags%}
            <h2>Tags:{{tag}}</h2>
        {%empty%}
            <h2>No Tags</h2>
        {% endfor %}
        <h2>Review_pics:</h2>
        {%for pic in review.r_pic%}
            <img src="{{pic}}">
        {%empty%}
            <h2>No review pics</h2>
        {% endfor %}
        <h2>Content:{{review.content}}</h2>
        <h2>Liked:{{review.liked}}</h2>
        <h1>===================================</h1>
    {%endfor%} {% endcomment %}
    
    
    <script src="{% static 'js/like.js' %}"></script>
    <script src="{% static 'js/pics.js' %}"></script>
    <script src="{% static 'js/place.js' %}"></script>
    <script>
        function add_review(){
            var rev = document.querySelector(".add_review_container");
            if( rev.style.display == "none"){
                rev.style.display = "flex";
                {% comment %} document.body.style.filter="blur(2px)"; {% endcomment %}
            }
            else{
                rev.style.display = "none";
                console.log("Hiding...");
                document.body.style.filter="blur(0px)";
            }
        }
    </script>
</body>
</html>