{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/common.css'%}">
    <link rel="stylesheet" href="{% static 'css/register.css'%}">

    <title>RYT</title>
</head>
<body class="flex row">
    <section class="left">
        <div class="left_top">
            <h1 class="title">RYT</h1>
            <h3 class="full_form">Review Your Tour</h3>
        </div>
        <img src="{% static 'img/register_img.svg' %}" alt="register" class="register_img">
    </section>

    <section class="right flex column center">
        <div class="left_top in_right">
            <h1 class="title">RYT</h1>
            <h3 class="full_form">Review Your Tour</h3>
        </div>
        <form action="register" method="POST" enctype="multipart/form-data" class="flex column">
            {% csrf_token %}
            <div onclick="photo_upload();" class="photo_upload">
                <img id="upload_pic" />
                <img onclick="gen_random_dp();event.stopPropagation();" src="{% static 'img/circular-arrow.png' %}" class="circular"/>
            </div>
            <input type="text" id="name" name="name" class="input_field" placeholder="name" required>
            <input type="text" id="username" name="username"class="input_field" placeholder="username" required>
            <input type="email" id="email" name="email"class="input_field" placeholder="email" required>
            <input type="password" id="password" name="password" class="input_field" placeholder="Password" required>
            <div class="selection">
                <button type="submit" class="button" id="signup">Sign Up</button>
                <div class="login_redirect flex row">
                    <h4 class="login_info">Already have an account?</h4>
                    <a class="login_link" href="/">Click Here</a>
                </div>
               
            </div>  
            <input type="file" name="dp_file" class="file_input" accept="image/*" onchange="loadFile(event)">
            <input type="url" name="dp_url" class="file_url">
        </form>

    </section>

    <script src="{% static 'js/photo.js'%}"></script>
    <script>gen_random_dp();</script>
</body>